<h1 mat-dialog-title>Add credential profile</h1>
<form [formGroup]="form" *ngIf="!fileName">
  <div
    mat-dialog-content
    fxLayout="column"
    fxLayoutAlign="start stretch"
    fxLayoutAlign="16px"
  >
    <p>
      This form will collect all required information to add a new profile to
      the list. The outcome will be a json file that you can commit to the
      repository.
    </p>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input type="text" matInput formControlName="name" required />
      <mat-error *ngIf="form.get('name')?.errors?.['isUnique']"
        >Name is already taken</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <input type="text" matInput formControlName="description" required />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Formal specification</mat-label>
      <input type="text" matInput formControlName="specification" required />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Implementations</mat-label>
      <input type="text" matInput formControlName="implementations" required />
    </mat-form-field>
    <app-auto-select
      [control]="credentialFormat"
      [label]="'Credential Format'"
      [options]="this.appService.getValues('Credential Format')"
    ></app-auto-select>
    <app-auto-select
      [label]="'Signing Algorithm'"
      [control]="signingAlgorithm"
      [options]="this.appService.getValues('Signing Algorithm')"
    ></app-auto-select>
    <app-auto-select
      [label]="'Revocation Algorithm'"
      [control]="revocationAlgorithm"
      [options]="this.appService.getValues('Revocation Algorithm')"
    ></app-auto-select>
    <app-auto-select
      [label]="'Key Management Holder'"
      [control]="keyManagementHolder"
      [options]="this.appService.getValues('Key Management')"
    ></app-auto-select>
    <app-auto-select
      [label]="'Key Management Issuer'"
      [control]="keyManagementIssuer"
      [options]="this.appService.getValues('Key Management')"
    ></app-auto-select>
    <app-auto-select
      [label]="'Trust Management'"
      [control]="trustManagement"
      [options]="this.appService.getValues('Trust Management')"
    ></app-auto-select>
  </div>
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-button mat-dialog-close>Abort</button>
    <button
      mat-button
      color="accent"
      [disabled]="form.invalid"
      (click)="create()"
    >
      Create
    </button>
  </mat-dialog-actions>
</form>
<div
  mat-dialog-content
  *ngIf="fileName && fileContent"
  fxLayout="column"
  fxLayoutGap="16px"
>
  <mat-form-field class="fill">
    <label>File</label>
    <input matInput readonly [value]="fileName" />
    <button mat-icon-button matSuffix [cdkCopyToClipboard]="fileName">
      <mat-icon>content_copy</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field class="fill">
    <mat-label>Content</mat-label>
    <textarea
      readonly
      class="full fileContent"
      [value]="fileContent"
      matInput
    ></textarea>
    <button mat-icon-button matSuffix [cdkCopyToClipboard]="fileContent">
      <mat-icon>content_copy</mat-icon>
    </button>
  </mat-form-field>
</div>
