<h1 mat-dialog-title>Add credential profile</h1>
<form [formGroup]="form" *ngIf="!fileName">
  <div
    mat-dialog-content
    fxLayout="column"
    fxLayoutAlign="start stretch"
    fxLayoutAlign="16px"
  >
    <p>
      This form will collect all required information to add a new profile to
      the list. The outcome will be a json file that you can commit to the
      repository.
    </p>
    <div fxLayout="column" fxLayoutGap="16px">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input type="text" matInput formControlName="name" required />
        <mat-hint>{{
          structure['Credential Profile is commonly called'].description
        }}</mat-hint>
        <mat-error *ngIf="form.get('name')?.errors?.['isUnique']"
          >Name is already taken</mat-error
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <input type="text" matInput formControlName="description" required />
        <mat-hint>{{
          structure['Credential Profile Description'].description
        }}</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Formal specification</mat-label>
        <input type="text" matInput formControlName="specification" required />
        <mat-hint>{{ structure['Formal Specification'].description }}</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Implementations</mat-label>
        <input
          type="text"
          matInput
          formControlName="implementations"
          required
        />
        <mat-hint>{{ structure['Implementations'].description }}</mat-hint>
      </mat-form-field>
      <app-auto-select
        [control]="credentialFormat"
        [label]="'Credential Format'"
        [options]="this.appService.getNames('Credential Format')"
        [description]="structure['Credential Format'].description"
      ></app-auto-select>
      <app-auto-select
        [label]="'Signing Algorithm'"
        [control]="signingAlgorithm"
        [options]="this.appService.getNames('Signing Algorithm')"
        [description]="structure['Signing Algorithm'].description"
      ></app-auto-select>
      <app-auto-select
        [label]="'Revocation Algorithm'"
        [control]="revocationAlgorithm"
        [options]="this.appService.getNames('Revocation Algorithm')"
        [description]="structure['Revocation Algorithm'].description"
      ></app-auto-select>
      <app-auto-select
        [label]="'Key Management Holder'"
        [control]="keyManagementHolder"
        [options]="this.appService.getNames('Key Management')"
        [description]="structure['Key Management (Holder)'].description"
      ></app-auto-select>
      <app-auto-select
        [label]="'Key Management Issuer'"
        [control]="keyManagementIssuer"
        [options]="this.appService.getNames('Key Management')"
        [description]="structure['Key Management (Issuer)'].description"
      ></app-auto-select>
      <app-auto-select
        [label]="'Trust Management'"
        [control]="trustManagement"
        [options]="this.appService.getNames('Trust Management')"
        [description]="structure['Trust Management'].description"
      ></app-auto-select>
    </div>
  </div>
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-button mat-dialog-close>Abort</button>
    <button
      mat-button
      color="accent"
      [disabled]="form.invalid"
      (click)="create()"
    >
      Create
    </button>
  </mat-dialog-actions>
</form>
<div *ngIf="fileName && fileContent">
  <div mat-dialog-content fxLayout="column" fxLayoutGap="16px">
    <p>Great, now open a pull request and add the following file in it:</p>
    <mat-form-field class="fill">
      <mat-label>File</mat-label>
      <input matInput readonly [value]="fileName" />
      <button mat-icon-button matSuffix [cdkCopyToClipboard]="fileName">
        <mat-icon>content_copy</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field class="fill">
      <mat-label>Content</mat-label>
      <textarea
        readonly
        class="full fileContent"
        [value]="fileContent"
        matInput
      ></textarea>
      <button mat-icon-button matSuffix [cdkCopyToClipboard]="fileContent">
        <mat-icon>content_copy</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button mat-button mat-dialog-close>Close</button>
  </mat-dialog-actions>
</div>
