<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="start center">
  <span>Credential Format Comparison</span>
  <a
    mat-button
    [routerLink]="['/']"
    routerLinkActive="router-link-active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Credential Profiles</a
  >
  <button mat-button [matMenuTriggerFor]="menu">Resources</button>
  <mat-menu #menu="matMenu">
    <a
      [routerLink]="['resources', tab]"
      mat-menu-item
      *ngFor="let tab of tabs"
      >{{ tab }}</a
    >
  </mat-menu>
  <div class="spacer"></div>
  <div class="github">
    <a
      mat-button
      href="https://github.com/openwallet-foundation/credential-format-comparison-sig"
      ><img src="assets/github.svg" alt="Github" /> <span>Github</span></a
    >
  </div> </mat-toolbar
><router-outlet></router-outlet>
