<div class="mat-elevation-z8 content">
  <div fxLayout="row" fxLayoutAlign="space-between center" class="table-header">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
      <button mat-icon-button (click)="openFilter()">
        <mat-icon>filter_list</mat-icon>
      </button>
      <mat-chip-listbox>
        <mat-chip-option
          *ngFor="let filter of getFilterValues()"
          selectable="false"
          >{{ filter }}</mat-chip-option
        >
      </mat-chip-listbox>
    </div>
    <div>
      <div fxLayout="row" fxLayoutAlign="end stretch">
        <button mat-icon-button (click)="addProfile()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <!-- <mat-form-field class="full">
      <mat-label>Columns</mat-label>
      <mat-select multiple [(value)]="displayedColumns">
        <mat-optgroup
          *ngFor="let group of selectionColumns"
          [label]="group.key"
        >
          <mat-option
            *ngFor="let column of group.elements"
            [value]="column.value"
          >
            {{ column.show }}
          </mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field> -->
    </div>
  </div>
  <section class="container">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container
        [matColumnDef]="column.key"
        *ngFor="let column of columns; let indexOfElement = index"
        [sticky]="isSticky(column)"
      >
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          [matTooltip]="column.tooltip"
        >
          {{ column.key }}
        </th>
        <td mat-cell *matCellDef="let element">
          <a
            *ngIf="hasLink(element[column.key], column.key)"
            [routerLink]="
              getLink(['resources', column.key, element[column.key]])
            "
            >{{ element[column.key] }}</a
          >
          <div
            *ngIf="!hasLink(element[column.key], column.key)"
            [innerHTML]="element[column.key] | format"
          ></div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </section>
</div>
