<mat-form-field class="full">
  <mat-label>Columns</mat-label>
  <mat-select multiple [(value)]="displayedColumns">
    <mat-option *ngFor="let column of allColumns" [value]="column">
      {{ column }}
    </mat-option>
  </mat-select>
</mat-form-field>
<section class="container mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container
      [matColumnDef]="column.header"
      *ngFor="let column of columns; let indexOfElement = index"
      [sticky]="indexOfElement === 0"
    >
      <th
        mat-header-cell
        *matHeaderCellDef
        [matTooltip]="column.tooltip"
        mat-sort-header
      >
        {{ column.header }}
      </th>
      <td mat-cell *matCellDef="let element">
        <a
          *ngIf="hasLink(element[column.header], column.header)"
          [routerLink]="['resources', column.header, element[column.header]]"
          >{{ element[column.header] }}</a
        >
        <div
          *ngIf="!hasLink(element[column.header], column.header)"
          [innerHTML]="element[column.header] | format"
        ></div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</section>
