:host {
  padding: 20px;
}

.content {
  max-width: calc(100% - 40px);
  margin: auto;
}

.container {  
  max-height: calc(100vh - 170px);
  overflow: auto;
}

.mat-mdc-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;
}
