<div *ngIf="profile" class="content">
  <button class="back" mat-button routerLink="/">Back</button>
  <h1>{{ profile['Credential Profile is commonly called'] }}</h1>
  <div *ngFor="let key of appService.extraValues">
    <mat-divider></mat-divider>
    <div *ngIf="getElement(key).length === 0">No data</div>
    <mat-list>
      <div mat-subheader>{{ key }}</div>
      <mat-list-item *ngFor="let value of getElement(key)">
        <div matListItemTitle>{{ value.key }}</div>
        <div matListItemLine *ngIf="value.type === 'text'">
          {{ value.value }}
        </div>
        <div matListItemLine *ngIf="value.type === 'link'">
          <a [href]="value.value" target="_blank">{{ value.value }}</a>
        </div>
      </mat-list-item>
    </mat-list>
  </div>
</div>
