name: Count Files and Publish to badge-info

on:
  push:
    branches:
      - test-badge

jobs:
  count_files_and_publish_to_badgeinfo:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Count files in data/Credential-Profile folder
        id: file_count
        run: |
          file_count=$(find data/Credential-Profile -type f | wc -l)
          decreased_count=$((file_count - 1))  # Decrease the count by 1
          echo "::set-output name=count::$decreased_count"

      - name: Create JSON file
        run: |
          echo "{ \"schemaVersion\": 1, \"label\": \"Profiles\", \"message\": \"${{ steps.file_count.outputs.count }}\", \"color\": \"green\" }" > count.json

      - name: Configure Git
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"

      - name: Create and switch to badge-info branch
        run: |
          git checkout -b badge-info
          git push origin badge-info

      - name: Copy JSON file to root
        run: |
          mv count.json ./  # Move the JSON file to the root of the repository

      - name: Commit and push to badge-info
        run: |
          git add count.json
          git commit -m "Add file count to JSON"
          git push origin badge-info
